<div class="container">
    <div class="d-flex justify-content-between my-3">
        <h1>Hello {{username}} 👋</h1>
        <a href="/logout" class="btn btn-transparent border border-3">🔴Logout</a>
    </div>
    <hr>
    <div class="text-center text-primary my-5 h1">Products Gallery</div>
    
    {{!-- products list --}}
    <div class="row">
        {{#each products}}
        <div class="col-12 col-md-3">
            <div class="card p-3 my-2" style=" height:26rem;">
                <img src={{image}} class="card-img-top" alt={{title}} style="height: 18rem;">
                <div class="card-body">
                    <h6 class="card-title">{{title}}</h6>
                    <p class="card-text">₹ {{price}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>